#root {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(169, 168, 168);
}

body{
  background-color: rgb(181, 179, 179);
}

.loader{
  color: red;
}

.conteiner{
  max-width: 1600px;
  margin: auto;
}

.input_conteiner{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
textarea{
  min-height: 100px ;
  border-radius: 5px;
  resize: none;
  outline: gray;
  margin: 5px 0;
}

textarea, .input_conteiner button{
  background: rgb(229, 228, 228) ;
  background-color: rgb(229, 228, 228);
  color: gray;
  border: solid 0,5px gray;
}

