:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* text-shadow: rgb(56, 54, 54) 0 0 2px; */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: url('https://www.learnathome.ru/files/media/food.jpg') no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em white;
}

.text_content {
  max-width: 1000px;
  margin: auto;
  background-color: rgb(165, 163, 163);
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
  outline: white
}